<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <caption>Liste de tous les comptes</caption>
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">N compte</th>
                <th scope="col">Type de compte</th>
                <th scope="col">Solde</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts">
                    <th scope="row">{{ account.id }}</th>
                    <td>{{ account.numero }}</td>
                    <td>{{ account.type }}</td>
                    <td>{{ account.solde }}</td>
                  </tr>
            </tbody>
          </table>
    </div>
      
  </div>
</div> 