<div class="entete">
    <form class="bank-form" (ngSubmit)="onSubmit()">
        <h2>Créer un compte</h2>
        <div class="iner">
          <label >Nom :</label>
          <input type="text" [(ngModel)]="accountData.client.nom" name="nom" required>
        </div>

        <div class="iner">
          <label >Prénom :</label> 
          <input type="text" [(ngModel)]="accountData.client.prenom" name="prenom" required>
        </div>

        <div class="iner">
          <label >Date de Naissance :</label>
          <input type="date" [(ngModel)]="dateInput" name="dnaiss" required>
        </div>

        <div class="iner">
          <label >Sexe :</label>
          <select [(ngModel)]="accountData.client.sexe" name="sexe" required>
            <option value="homme">Homme</option>
            <option value="femme">Femme</option>
          </select>
        </div>

        <div class="iner">
          <label >adresse :</label>
          <input type="text" [(ngModel)]="accountData.client.adresse" name="adresse" required>
        </div>

        <div class="iner">
          <label >Tel :</label>
          <input type="number" [(ngModel)]="accountData.client.tel" name="tel" required>
        </div>

        <div class="iner">
          <label >Courriel :</label>
          <input type="email" [(ngModel)]="accountData.client.courriel" name="courriel" required>
        </div>

        <div class="iner">
          <label >Nationalite :</label>
          <input type="text" [(ngModel)]="accountData.client.nationalite" name="nationalite" required>
        </div>


        <div>
          <label >Type de Compte :</label>
          <select [(ngModel)]="accountData.type_compe" name="type_compe" required>
            <option value="epargne">Compte Épargne</option>
            <option value="courant">Compte Courant</option>
          </select>
        </div>

        <div class="iner">
          <label >Mot de passe :</label>
          <input type="password" [(ngModel)]="accountData.client.mot_de_passe" name="mot_de_passe" required>
        </div>

        
  
        <div class="center-button">
          <button type="submit">Valider</button>
        </div>

        <div class="last">
          <p>Avez vous déja un compte?<a [routerLink]="['/login']">Connexion</a></p>
        </div>
      </form>
</div> 
