.entete {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../../../assets/images/noirig.jpg');
  background-repeat: no-repeat; 
  background-size: cover;  
  
}

.bank-form {
  max-width: 500px;
  max-height: 400px;
  padding: 30px 40px; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  overflow-y: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  font-weight: bold;
  color: antiquewhite;
  
}

h2 {
  text-align: center;
  color: #fc9116;
}

button {
  margin-top: 15px;
  width: 40%;
  height: 40%;
  padding: 10px;
  background-color: #fc9116;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) ;
}

.center-button {
  text-align: center;
}


button:hover {
  background-color: #c50786;
}


input,
select {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 3px;  
  outline: none;
}

input{
  background: transparent;
  padding-left: 20px;
  
}

input:focus,
select:focus {
  border: 1px solid #fc9116; 
  outline: none; 
  
}

.last p a{
  color: #ffffff;
  text-decoration: none;
}

.last p a:hover{
  text-decoration: underline;
  color: #c50786;

}

.last{
  font-size: 10px;
  margin-top: 15px;
  
}



