<div class="d-flex" id="wrapper">
    <div class="bg-white">

        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase">
            <i class="bi bi-list"></i> profile
        </div>

        <div class="list-group list-group-flush my-3">
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active">
                <i class="bi bi-list"></i> Ega
            </a>

            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                <i class="bi bi-house"></i> Home
            </a>

            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                <i class="bi bi-people"></i> Gestion des clients
            </a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Transaction
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item"  >Versement</a></li>
                  <li><a class="dropdown-item" >Retrait </a></li>
                  <li><a class="dropdown-item" >Virement</a></li>
                </ul>
              </li>

            <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
                <i class="bi bi-box-arrow-left"></i> Deconnexion
            </a>

        </div>
    </div>
</div>

<div id="page-content-wrapper">

</div>

<!-- main -->
<div class="main-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        <div class="d-flex align-items-center">
            <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"> </i>


        </div>

    </nav>
    <router-outlet></router-outlet>

</div>








