  
  .entete-ver {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    
  }
  
  .bank-ver {
    max-width: 500px;
    max-height: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    background-color: #ffffff;
  }
  
  h2 {
    text-align: center;
  }
  
  .two-butt {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  button{
    width: 48%;
  }

  .valider {
    
    background-color: #ffa500; 
    
  }
  
  .annuler {
    
    background-color: #dddddd; 
    
  }
  
  
  input,
  select {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 3px;
    
  }
  
  
  