<div class="entete-cpte">
    <form class="bank-cpte">
        <h2>Créer un compte </h2>
        <div class="iner-retrait">
          <label for="mail">Email :</label>
          <input type="email"  name="mail" required>
        </div>

        <div>
            <label for="typeCompte">Type de Compte :</label>
            <select id="typeCompte" name="typeCompte" required>
              <option value="epargne">Compte Épargne</option>
              <option value="courant">Compte Courant</option>
            </select>
        </div>

        <div class="center-button">
            <button type="submit">Valider</button>
        </div>
  
        
      </form>
</div>

