<div class="entete-cpte">
    <form class="bank-cpte" (ngSubmit)="onSubmit()">
      <!--<div class="class=image-container">
        <img src="../../../assets/images/logo.png">

      </div>-->
        <h2>Créer un compte </h2>
        <div class="iner-retrait">
          <label for="courriel">Email :</label>
          <input type="email" [(ngModel)]="creeData.client.courriel" name="courriel" required>
        </div>

        <div>
            <label >Type de Compte :</label>
            <select [(ngModel)]="creeData.type_compe" name="type_compe" required>
              <option value="epargne">Compte Épargne</option>
              <option value="courant">Compte Courant</option>
            </select>
        </div>

        <div class="center-button">
            <button type="submit">Valider</button>
        </div>
  
        
      </form>
</div>

