<div class="back">
  <nav class="navbar navbar-light bg-light">
      <div class="container-fluid justify-content-end">
        <a class="btn btn-outline-success me-2" type="button" routerLink="sign">S'inscrire</a>
        <a class="btn btn-outline-success me-2" type="button" routerLink="login">Se connecter</a>
      </div>
  </nav>

  <div class="content">
    <h1>Bienvenue sur <br><span>Ega Banque</span> <br>Aperçu</h1>
    <p class="paragrph">La gestion de vos finances devient une expérience simplifiée. Nous mettons <br> à votre disposition une gamme complète de services bancaires <br>conçus pour répondre à vos besoins spécifiques. 
      
    </p>

    <button class="buthom"><a href="#">Explorer</a></button>

  </div>
</div>
  
