<div class="entete-retrait">
    <form class="bank-retrait">
        <h2>Effectuer un retrait </h2>
        <div class="iner-retrait">
          <label for="montant">Montant à retirer :</label>
          <input type="number"  name="montant" required>
        </div>

        <div class="iner-retrait">
            <label for="mdp">Entrer votre mot de passe :</label>
            <input type="password" id="mdp" name="mdp" required>
        </div>

        <div class="two-butt">
            <button class="btn valider" type="submit">Valider</button>
            <button class="btn annuler" type="reset">Annuler</button>
        </div>
  
        
      </form>
</div>

