<div class="entete-vir">
    <form class="bank-vir">
        <h2>Effectuer un Virement</h2>
        <div class="iner-vir">
          <label for="montant">Montant à envoyer :</label>
          <input type="number" id="montant" name="montant" required>
        </div>

        <div class="iner-vir">
            <label for="numero">Numero de compte du destinataire :</label>
            <input type="number" id="numero" name="numero" required>
        </div>

        <div class="iner-vir">
            <label for="mdp">Entrer votre mot de passe :</label>
            <input type="password" id="mdp" name="mdp" required>
        </div>

        <div class="two-butt">
            <button class="btn valider" type="submit">Valider</button>
            <button class="btn annuler" type="reset">Annuler</button>
        </div>
  
        
      </form>
</div>

